<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87992355357-h1agrpb2pse1dcg1i8fjk38hsq9f7vs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87992355357-h1agrpb2pse1dcg1i8fjk38hsq9f7vs4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>87992355357-9nealks83es5ui486ct0135m52kvahfo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk3qSLfD3eCOELMHTsY9d4e6PyXXq6HMY</string>
	<key>GCM_SENDER_ID</key>
	<string>87992355357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rrsistemas.logitexapp</string>
	<key>PROJECT_ID</key>
	<string>logitexmotorista</string>
	<key>STORAGE_BUCKET</key>
	<string>logitexmotorista.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87992355357:ios:4dc2db0a86d170edbd94f4</string>
</dict>
</plist>